html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 20px;
    background: #eee;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.room {
    width: 128px;
    height: 128px;
    background: white;
    margin: 10px;
}

#tiles, #sprites, #items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.tile, .sprite, .item {
    width: 16px;
    height: 16px;
    background: white;
    margin: 5px;
}

/*
ssection {
    width: 414px;
    height: 736px;
    border: 1px solid #444;
    border-bottom-width: 2px;
    border-radius: 6px;
    margin: 5px auto;
    padding: 10px;
    background: white;
}

header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
}
header > span {
    flex-grow: 1;
    text-align: center;
}

.contents > * + * {
    margin-top: 10px;
}
.room-grid {
    background: plum;
    width: 100%;
}
*/